@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;900&display=swap");

@import "tailwindcss";

/* src/index.css */
@theme {
  --color-primary: #003366;
  --color-primary-dark: #002244;

  --color-accent: #cc0000;
  --color-accent-hover: #a30000;

  --color-slate-custom: #64748b;
  --color-success: #059669;
}
