@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-primary-dark: #0b5db0;
  --font-display: "Lexend", sans-serif;
}
